<a href="https://colab.research.google.com/github/9zxu/Analysis_HousePrices/blob/main/house_pirces.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Goal

**SalePrice is the one we need to predict**

載入套件

In [ ]:
import pandas as pd
import numpy as np
#np.set_printoptions(threshold=np.inf)

導入檔案

In [ ]:
train= pd.read_csv("train.csv")
test = pd.read_csv("test.csv")

取得資料資訊

In [ ]:
train.info()

In [ ]:
train_null = pd.DataFrame(train.isnull().sum())
filter = (train_null[0] != 0)
train_null.loc[filter]

In [ ]:
test.info()

比train少了saleprice column

少一筆資料

In [ ]:
test_null = pd.DataFrame(test.isnull().sum())
filter = (test_null[0] != 0)
test_null.loc[filter]

### 問題

In [ ]:
filter = (test["SaleType"] == True)
test.loc[filter]
#可以執行，顯示不出？

Empty DataFrame
Columns: [Id, MSSubClass, MSZoning, LotFrontage, LotArea, Street, Alley, LotShape, LandContour, Utilities, LotConfig, LandSlope, Neighborhood, Condition1, Condition2, BldgType, HouseStyle, OverallQual, OverallCond, YearBuilt, YearRemodAdd, RoofStyle, RoofMatl, Exterior1st, Exterior2nd, MasVnrType, MasVnrArea, ExterQual, ExterCond, Foundation, BsmtQual, BsmtCond, BsmtExposure, BsmtFinType1, BsmtFinSF1, BsmtFinType2, BsmtFinSF2, BsmtUnfSF, TotalBsmtSF, Heating, HeatingQC, CentralAir, Electrical, 1stFlrSF, 2ndFlrSF, LowQualFinSF, GrLivArea, BsmtFullBath, BsmtHalfBath, FullBath, HalfBath, BedroomAbvGr, KitchenAbvGr, KitchenQual, TotRmsAbvGrd, Functional, Fireplaces, FireplaceQu, GarageType, GarageYrBlt, GarageFinish, GarageCars, GarageArea, GarageQual, GarageCond, PavedDrive, WoodDeckSF, OpenPorchSF, EnclosedPorch, 3SsnPorch, ScreenPorch, PoolArea, PoolQC, Fence, MiscFeature, MiscVal, MoSold, YrSold, SaleType, SaleCondition]
Index: []

[0 rows x 80 columns]

In [ ]:
#test["SaleType"] == "NA"

0       False
1       False
2       False
3       False
4       False
        ...
1454    False
1455    False
1456    False
1457    False
1458    False
Name: SaleType, Length: 1459, dtype: bool

## Combine train test data

In [ ]:
data = train.append(test)

In [ ]:
data.reset_index(drop = True, inplace = True)

## 處理缺值

In [ ]:
data.isnull().sum #DataFrame不相容？

In [ ]:
data_dropna = data.dropna()
data_dropna

Empty DataFrame
Columns: [Id, MSSubClass, MSZoning, LotFrontage, LotArea, Street, Alley, LotShape, LandContour, Utilities, LotConfig, LandSlope, Neighborhood, Condition1, Condition2, BldgType, HouseStyle, OverallQual, OverallCond, YearBuilt, YearRemodAdd, RoofStyle, RoofMatl, Exterior1st, Exterior2nd, MasVnrType, MasVnrArea, ExterQual, ExterCond, Foundation, BsmtQual, BsmtCond, BsmtExposure, BsmtFinType1, BsmtFinSF1, BsmtFinType2, BsmtFinSF2, BsmtUnfSF, TotalBsmtSF, Heating, HeatingQC, CentralAir, Electrical, 1stFlrSF, 2ndFlrSF, LowQualFinSF, GrLivArea, BsmtFullBath, BsmtHalfBath, FullBath, HalfBath, BedroomAbvGr, KitchenAbvGr, KitchenQual, TotRmsAbvGrd, Functional, Fireplaces, FireplaceQu, GarageType, GarageYrBlt, GarageFinish, GarageCars, GarageArea, GarageQual, GarageCond, PavedDrive, WoodDeckSF, OpenPorchSF, EnclosedPorch, 3SsnPorch, ScreenPorch, PoolArea, PoolQC, Fence, MiscFeature, MiscVal, MoSold, YrSold, SaleType, SaleCondition, SalePrice]
Index: []

[0 rows x 81 columns]

看起來每筆資料都有缺值

# feature engineering

- [Feature Engineering 特徵工程中常見的方法](https://vinta.ws/code/feature-engineering.html)
- [Why adding an NA indicator column instead of value imputation (for randomForest)](https://stats.stackexchange.com/questions/28860/why-adding-an-na-indicator-column-instead-of-value-imputation-for-randomforest)
[Categorical feature的正確開啟方式](https://axk51013.medium.com/%E4%B8%8D%E8%A6%81%E5%86%8D%E5%81%9Aone-hot-encoding-b5126d3f8a63)

In [ ]:
from google.colab.data_table import DataTable
DataTable.max_columns = 81
#因為google colab 預設一次作多顯示20 columns

In [ ]:
data.info()

In [ ]:
data

理論上Id 對於房價不會有影響

In [ ]:
train

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
2,3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
3,4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
4,5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1455,1456,60,RL,62.0,7917,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,8,2007,WD,Normal,175000
1456,1457,20,RL,85.0,13175,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,MnPrv,NaN,0,2,2010,WD,Normal,210000
1457,1458,70,RL,66.0,9042,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,GdPrv,Shed,2500,5,2010,WD,Normal,266500
1458,1459,20,RL,68.0,9717,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,4,2010,WD,Normal,142125
1459,1460,20,RL,75.0,9937,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,6,2008,WD,Normal,147500

### MiscFeature: Miscellaneous feature not covered in other categories

In [ ]:
data.value_counts("MiscFeature")

MiscFeature
Shed    95
Gar2     5
Othr     4
TenC     1
dtype: int64

In [ ]:
no_misc = pd.DataFrame(train["MiscFeature"].dropna())
no_misc["val"] = train["MiscVal"]

In [ ]:
no_misc

     MiscFeature    val
5           Shed    700
7           Shed    350
16          Shed    700
17          Shed    500
51          Shed    400
84          Shed    700
95          Shed    480
98          Shed    400
99          Shed    400
106         Shed    450
214         Shed    450
249         Shed    500
250         Shed    450
335         Shed    700
338         Shed    400
346         Gar2  15500
392         Shed   1200
439         Shed    800
499         Shed    480
502         Shed    400
510         Shed   2000
539         Shed   2000
589         Shed    600
611         Shed    500
626         Shed    600
634         Shed    600
705         Othr   3500
725         Shed    500
733         Shed    400
760         Shed    450
766         Shed    500
767         Shed   1300
786         Shed   1200
794         Shed    500
800         Shed    400
812         Shed     54
813         Shed    500
867         Shed    400
873         Othr      0
878         Shed    400
890         Shed   2000
912         Shed    620
953         Shed    400
1061        Shed    560
1076        Shed    500
1083        Shed    700
1171        Shed   1400
1200        Shed      0
1210        Shed    400
1230        Gar2   8300
1252        Shed    600
1328        Shed   1150
1386        TenC   2000
1457        Shed   2500

### SaleType

In [ ]:
train.value_counts("SaleType")

SaleType
WD       1267
New       122
COD        43
ConLD       9
ConLI       5
ConLw       5
CWD         4
Oth         3
Con         2
dtype: int64

## Time Series

- [to_datetime Value Error](https://stackoverflow.com/questions/39992411/to-datetime-value-error-at-least-that-year-month-day-must-be-specified-pand)
- [time series 介紹與處理技巧](https://mark1002.github.io/2018/05/27/time-series-%E4%BB%8B%E7%B4%B9%E8%88%87%E8%99%95%E7%90%86%E6%8A%80%E5%B7%A7/)
- [Pandas Combine Two Columns of Text in DataFrame](https://sparkbyexamples.com/pandas/pandas-combine-two-columns-of-text-in-dataframe/)
- [Matplotlib time series plot](https://pythonguides.com/matplotlib-time-series-plot/)
- [【python】numpy.datetime64( ) 时间和 datetime.datetime 互转](https://blog.csdn.net/brucewong0516/article/details/82701282)
- [How to Merge “Not Matching” Time Series with Pandas](https://towardsdatascience.com/how-to-merge-not-matching-time-series-with-pandas-7993fcbce063)
- [python時間處理（三）pandas.to_datetime](https://www.796t.com/content/1544058308.html)

In [ ]:
import datetime

In [ ]:
train["YrMo"] = pd.to_datetime(train[["YrSold", "MoSold"]], format = "Y%-m%", errors = "coerce")
#train["YrMo"] = train['YrSold'].dt.year.astype(str) + "-" + train['MoSold'].dt.month.astype(str)
#train["YrMo"] = pd.to_datetime

ValueError: ignored

In [ ]:
train.

# Model Training

- [模型信心的本質！：Probability Calibration](https://axk51013.medium.com/%E6%A8%A1%E5%9E%8B%E4%BF%A1%E5%BF%83%E7%9A%84%E6%9C%AC%E8%B3%AA-probability-calibration-cbc680a44efa)
- [How Probability Calibration Works](https://medium.com/analytics-vidhya/how-probability-calibration-works-a4ba3f73fd4d)
- [機器學習 — Gradient Boosting (1)](https://medium.com/@gary1346aa/%E6%A9%9F%E6%A2%B0%E5%AD%B8%E7%BF%92-gradient-boosting-1-272e8d7b17e1)

In [ ]:
from sklearn.tree import DecisionTreeRegressor  # model